
.navbar__container{
    height: 80px;
    display: flex;
}
.navbar__logo{
    width: 25%;
    padding: 5px;
}
.navbar__menu{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
}
.navbar__menu a{
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-family: "Cairo", sans-serif;
    &:hover{
        color: $primary;
    }
}
.navbar__shopping{
    width: 15%;
}
.navbar__logo img {
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}