.searchbar__container{
    height: 80px;
    display: flex;
}
.searchbar__categories{
    display: flex;
    align-items: center;
    width: 25%;

}
.searchbar__input{
    width: 60%;
    display: flex;
    align-items: center;
}